  /* prenavcss */
 .pn{
    display: flex;
    justify-content: space-between;
    background-color: #120f2d;
    color: white;
    /* gap: 200px; */
 }
 .pn1{
    position: relative;
    left: 22px;
 }
 .lis{
    position: absolute;
    right: 34px;
    list-style: none;
    display: flex;
    gap: 34px;
    
 }

 
 
 
  /* prenavcss ends */
 /* nav css */
.nav0{
   display: flex;
   gap: 400px;
   justify-content: space-around;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
  
}
.im{
   width: 191px;
   height: auto;
}
.nav1{
    /* display: flex; */
    gap: 45px;
   /* justify-content: space-between; */
}
.nav0 input{
    padding: 12px 20px;
    border:  none;
    position: relative;
      bottom: 5px;
      left: 40px;
      background-color: #f5f8fb;

}
.drop{
     position: relative;
      bottom: 5px;
      left: 35px;
      padding: 12px;
      color: #2878eb;
}
.im{
    position: relative;
      top: 5px;
      left: 23px;
}
.bar{
    display: flex;
    flex-direction: row;
    gap: 64px;
    list-style: none;
    
}
.bar li{
    position: relative;
    top: 8px;

}
.nav2{
    display: flex;
}
select {
    border: none;
  }
.butt{
    background-color: #f14d5d;;
    border-radius: 2px;
    padding: 15px 22px;
    color: white;
    border: none;
}
.butt:hover{
    background-color: #2878eb;
}
.material-symbols-outlined{
    position: relative;
    right: 7px;
    
}

/* nav css ends */ 
.hero1 img {
    width: 100%;
    height: 300px;



}
.hero1{
    background-image: linear-gradient(to right,#f4f4fc,rgba(249,249,253,.2));
}
.hero2a{
    list-style: none;
    display: flex;
    gap: 12px;
    position: relative;
    bottom: 200px;
    left: 190px;
    color: white;
    font-size: 18px;

}
.hero2b{
    position: relative;
    bottom: 220px;
    left: 230px;
    font-size: 34px;
}
/* section 1 */
.sec{
    display: flex;
    justify-content: space-evenly;
    
}
.sec2 img{
    width: 500px;
    height: 300px;
}
.sec1 h3{
    color: #f14d5d;
    font-size: 18px;
    font-weight: 600;
}
.sec1 h1{
    font-size: 49px;
    font-weight: 800;
    color: #120f2d;
}
.sec1 p{
    color: #58566b;
} 

/* stats cssq */
 .stat1{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
 }
 .stat1 li{
    padding:  0px 28px;
    border-right: 2px solid #e1e0e7;

 }
.plus{
    font-size: 31px;
    font-weight: 800;
}
.plus1{
    font-size: 16px;
    color: #58566b;
    font-weight: 400;
}
/* feature css */
.feat{
 display: flex;
 /* justify-content: space-between; */
}
.feat1{
    background: linear-gradient(135deg,#7351ff 0%,#60bbff 100%);
    padding:  50px 200px;
}
.feat1 h3{

    color: #f14d5d;
    font-size: 18px;
    font-weight: 600;
}
.feat1 h1{
    font-size: 49px;
    font-weight: 800;
    color: white;

}
.feat1 p{
    color: rgb(240, 236, 236);
} 
.feat2a{
    display: flex;

}
.feat2{
    display: grid;
    columns: 2;
    background-color: #f8f8fc;
    padding:  50px 400px;

}

